-# coding: utf-8
%p
	%strong Status of Comments
%p 
%form{:action => "/admin/create_comment_hardcopy", :method => "get"}
	%input.button{:id => "make_comments", :type => "submit", :value => "CREATE COMMENT HARDCOPY", :title => "CREATE COMMENT HARDCOPY", :class => "button"}
%br
