-# coding: utf-8
%h3
	%a{ :href => "#{@pdf_path}", :target => 'other_blank'}
		%img{:src=>"/reports/comment_hardcopies/images/view_icon.png"}
		View PDF
%h3	
	%a{ :href => "#{@pdf_path}", :download => "Comment_Hardcopy.pdf" } 
		%img{:src=>"/reports/comment_hardcopies/images/dl_icon.png"}
		Download PDF
:markdown
	#{@md}
