-# coding: utf-8
%form{:action => "/skill_track/new", :method => "POST"}
	%p Select a Student
	%select{:name => "grap[kid_id]"}
		- @students.each do |s|
			%option{:value => "#{s.id}"}
				#{s.name}
	%p Select a Grading Period
	%select{:name => "grap[quarter_id]"}
		- @grading_periods.each do |g|
			%option{:value => "#{g.id}"}
				#{g.name}	
	%br				
	%input.button{:type => "submit", :value => "Edit Skill Tracking", :title => "Edit Skill Tracking", :class => "button"}
