!!!
%title= "RMA Report Card Facillitoio"
%meta{ :charset => "utf-8" }
%meta{ :content => "", :name => "description" }
%meta{ :content => "", :name => "author" }
%link{ :href => "/css/style.css", :rel => "stylesheet" } 
%section
	%article
		%header
			%h2 Header stuff.
			%div.nav
				=render_navigation
			= yield
		%footer
			%h4 Link to Markdown ref, Link to documentation. (Incomplete)