.cmt {
	font-family: "menlo", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 11pt;
}

del {
	text-decoration: line-through;
	color: #9b9a98;
	font-family: "menlo", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 11pt;
}

ins {
	text-decoration: none;
	background-color: #cafdcb;
}

textarea.comment {
	width: 800px;
	height: 150px;
	font-family: "menlo", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 11pt;
}
.float {float:left; margin-left:40px; margin-bottom:60px;}
.foot {clear: both;}

ul.grade_list li input {
	width: 2em;
	padding-left: 1em;
	font-size: 13px;
}

li#math a, li#la a, li#social_studies a, li#science a , li#work_study a , li#citizenship a , li#art a , li#ict a , li#music a , li#pe a , li#thai a, #selected #simple-navigation-active-leaf ul {  padding:0px;}

.outcome { width: 600px; height: 25px }

p.details {
    padding-left: 40px;
}

p.details span.label {
    float: left;
    clear: left;
    width: 60px;
    margin-left: -40px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #00b2e9;
}

body section {
	background-color: #fff;
	margin-right:40px;
	margin-left:40px;
}

body section article {
		padding: 40px;
		padding-top: 20px;
}

body {margin:0px;}

header {padding-top:50px;}

h2.top {
	margin-left:30px;
	margin-bottom:5px;
	color: white;
}

h2.top#warning {
	margin-left:30px;
	margin-top: 15px;
	margin-bottom:15px;
	color: orange;
}

footer {
	background-color: #aae6e8;
	margin: 40px -40px -61px -40px;
	padding: 50px;
}

.top {
	/* add some darkness to the top */
	background-color: #00b2e9;
	margin:0px;
}


.list_row {
	padding: 10px;
	width: 1040px;
	font-family: "menlo", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 11pt;
	list-style-type: none;
}
.list_row:hover {
	background-color: #aae6e8;
}

#create_all_reports {
	background-color: #8fc627;
}

#create_all_reports:hover {
	background-color: #dce123;
}

.button {
	padding: 10px 20px ;
	margin-top: 50px;
	background-color: #00b2e9;
	border: 2px solid #00b2e9;
	color: #fff;
	font-size: 11pt;
	font-family: sans-serif;
	border-radius: 3px;
}

.button.grade_submit{
	margin-top: 0px;
	margin-bottom: 50px;
}

.logoutbutton {
	padding: 10px 20px ;
	margin-top: 50px;
	background-color: #fff;
	border: 2px solid #00b2e9;
	color: #00b2e9;
	font-size: 11pt;
	font-family: sans-serif;
	border-radius: 3px;
}
.button:hover, .edit_link:hover {
	background-color: #00b2e9;
}

.logoutbutton:hover {
	background-color: #aae6e8;
}
.delete {
	position: relative;
	top: -1px;
	background-color: #d14d3c;
	border: none;
	color: white;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-radius: 10px;
	float: right;
}

li form input {
	display: inline;
}

li:hover form input {
	display: inline;
}

.container_width {
	width: 400px;
}

.container_clear {
	clear: both;
}

.nav ul {
	color: #000;
	border-bottom: 2px solid #00b2e9;
	margin: 12px 0px 0px 0px;
	padding: 0px;
	z-index: 1;
	padding-left: 20px
}

.nav li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
	padding-left: 20px;
}

.nav a, a.selected, .edit_link {
	color: #000;
	background: #aae6e8;
	font: bold 11pt ;
	border: 2px solid #00b2e9;
	padding: 10px 20px 0px 20px;
	margin: 0;
	text-decoration: none;
}

.nav a.selected {
	background: #fff;
	border-bottom: 3px solid #fff;
}

.nav a:hover {
	color: black;
	background: #fff;
}

.nav a:visited {
	color: #000;
}

.nav a.selected:hover {
	background: #fff;
	color: #000;
}

table.attendance {
	border:  2px solid #00b2e9 ;
	border-collapse: collapse;
}

table.attendance td {
	border:  1px solid #00b2e9 ;
	text-align: center;
}

table.attendance input {
	text-align: center;
	border: none;
}



table#key_p td.a_p, table#key_p  td.b_p, table#key_p td.c_p, table#key_p td.d_p {
	font-family: "Luxi Sans";
	font-size: 10pt;
	padding: 4pt;
}

table#key_p td.d_p {
	text-align: center;
	border-bottom: 1px solid #000;
}


table#key_p td.a_p {
	width: 50mm;
	text-align: right;
	padding-right: .5mm
}

table#key_p td.b_p {
	width: 40mm;
	text-align: left;
}

table#key_p td.c_p {
	
	text-align: left;
}

table#attendance_p {
	margin-top: 19px;
}

table#attendance_p td {
	font-family: "Luxi Sans";
	font-size: 10pt;
	padding: 4pt;
	border: 1px solid #000;
	text-align: center;
}


h1 {
	font-family: sans-serif;
}
table {
	font-family: "Luxi Sans";
	width: 199mm;
	border: 2px solid #000;
	padding: 0em;
	table-layout: fixed;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
table.core_p, table.special_p {
	border-top: none;
}
table.core_p tr.o_g_c_set_p td.sweet-justice_p, table.special_p tr.o_g_c_set_p td.sweet-justice_p {
	border-top: 1px solid #000;
}
td.subjects_p {
	text-align: center;
	padding: 2mm 0mm 5mm 0mm;
	font-size: 15pt;
	font-weight: bold;
}
table.nested_p {
	margin: 0mm;
	width: 100mm;
	font-size: 10pt;
	border:0px;
}
td.setwidth-o_p {
	border: 0px;
	padding: 0;
	width: 88mm;
	height: 0px;
}
tr.borderless_p {
	display:hidden;
}
td.setwidth-g_p {
	border: 0px;
	padding: 0;
	width: 12mm;
	height: 0px;
}
td.outcome_p {
	padding: 1.2mm;
	font-size: 8pt;
	width: 88mm;
}
td.grade_p {
	width: 7mm;
	text-align: left;
	padding-left: 5.4mm;
	font-size: 8pt;
}
td.comment_p {
	width: 98mm;
	font-size: 9pt;
	vertical-align:top;
	line-height: 1.2;
}
td.comment_p p {
	margin: 1.4mm;
	text-indent:4mm;
	text-align:left;
}

td.sweet-justice_p {
	width: 98mm;
	font-size: 9pt;
	vertical-align:top;
	line-height: 1.2;
}
td.sweet-justice_p p {
	margin: 1.4mm;
	text-indent:4mm;
}
td.nest_p {
	padding: 0mm;
}
table.table_heading_p, #workstudy_p {
	margin-top: 16mm;
}
td.table_header_p {
	background-color: #160082;
	color: white;
	font-weight: bold;
	font-size: 10pt;
	padding: 2mm
}
td.subhead_p {
	padding: 1.5mm;
	background-color: #e7e5fe;
	font-weight: bold;
}
td.teacher_p {
	padding: 1.5mm;
	background-color: #e7e5fe;
	font-weight: bold;
}
table.nested_p td, table.nested_p th {
	border: 1px solid black;
}
table.nested_p tr:first-child th {
	border-top: 0;
}
table.nested_p tr:first-child td {
	border: 0;
	border-color:red;
}
table.nested_p tr:last-child td {
	border-bottom: 0;
}
table.nested_p tr td:first-child, table.nested_p tr th:first-child {
	border-left: 0;
}
table.nested_p tr td:last-child, table.nested_p tr th:last-child {
	border-right: 1;
}