.float {float:left; margin-left:40px; margin-bottom:60px;}
.foot {clear: both;}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #00b2e9;
}

body section {
	background-color: #fff;
	margin-right:40px;
	margin-left:40px;
}

body section article {
		padding: 40px;
		padding-top: 20px;
}

body {margin:0px;}

header {padding-top:50px;}

h2.top {
	margin-left:30px;
	margin-bottom:70px;
	color: white;
}

footer {
	background-color: #aae6e8;
	margin: 40px -40px -61px -40px;
	padding: 50px;
}

.top {
	/* add some darkness to the top */
	background-color: #00b2e9;
	margin:0px;
}


.list_row {
	padding: 10px;
	width: 700px;
	font-family: "menlo";
	font-size: 11pt;
	list-style-type: none;
}
.list_row:hover {
	background-color: #aae6e8;
}

.button {
	padding: 10px 20px ;
	margin-top: 50px;
	background-color: #00b2e9;
	border: 2px solid #00b2e9;
	color: #fff;
	font-size: 11pt;
	font-family: sans-serif;
	border-radius: 3px;
}
.button:hover, .edit_link:hover {
	background-color: #00b2e9;
}

.delete {
	position: relative;
	top: -1px;
	background-color: #d14d3c;
	border: none;
	color: white;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-radius: 10px;
	float: right;
}

li form input {
	display: inline;
}

li:hover form input {
	display: inline;
}

.container_width {
	width: 400px;
}

.container_clear {
	clear: both;
}

.nav ul {
	color: #000;
	border-bottom: 2px solid #00b2e9;
	margin: 12px 0px 0px 0px;
	padding: 0px;
	z-index: 1;
	padding-left: 20px
}

.nav li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
	padding-left: 20px;
}

.nav a, a.selected, .edit_link {
	color: #000;
	background: #aae6e8;
	font: bold 11pt ;
	border: 2px solid #00b2e9;
	padding: 10px 20px 0px 20px;
	margin: 0;
	text-decoration: none;
}

.nav a.selected {
	background: #fff;
	border-bottom: 3px solid #fff;
}

.nav a:hover {
	color: black;
	background: #fff;
}

.nav a:visited {
	color: #000;
}

.nav a.selected:hover {
	background: #fff;
	color: #000;
}
