%form{:action => "/students/new", :method => "POST"}
	%input{:placeholder => "student name", :type => "text", :name => "student[name]"}
	%input{:placeholder => "nickname", :type => "text", :name => "student[nickname]"}
	%input.button{:type => "submit", :value => "New Student", :title => "New Student", :class => "button"}
%h2 Students
%ul.students
	%li{:class => "list_row"} NAME
	- @students.each do |s|
		= partial( :"students/student", {:student => s } )