-# coding: utf-8
%li{:class => "list_row"}
	= student.name.ljust(30, ".") + (student.nickname.ljust(10, ".") + student.bday).ljust(30, ".")
	%a{ :class => "edit_link", :href => "/students/edit/#{student.id}" } EDIT
	%form{ :class => "delete", :action => "/students/delete/#{student.id}", :method => "POST" }
		%input{ :type => "hidden", :name => "_method", :value => "DELETE" }
		%input{ :class => "delete", :type => "submit", :value => "Delete Student", :title => "Delete Student" }
