%li{:class => "list_row"}
	= student.student_id.ljust(40, ".") + student.name.ljust(28, ".")
	%a{ :class => "edit_link", :href => "/students/edit/#{student.id}" } EDIT
	%form{ :class => "delete", :action => "/students/delete/#{student.id}", :method => "POST" }
		%input{ :type => "hidden", :name => "_method", :value => "DELETE" }
		%input{ :class => "delete", :type => "submit", :value => "×", :title => "Delete Student" }
