/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License:none (public domain)
*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;font-size:100;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}


@page {
	size: A4;
	margin: 0mm
}
.page-break {
	display: block;
	page-break-before: always;
}
.page {
	width: 210mm
}
table {margin-top: 1cm; margin-left: 1cm; border: solid 2pt #168ec1; border-collapse: collapse;}
th.header {
	border: solid 1pt #168ec1;
	text-align: center;
	padding: 3mm 0mm 3mm 0mm;
	font-size: 16pt;
	background-color: #168ec1;
	width: 17.5cm
}
tr.alt_row:nth-child(odd)		{ background-color:#effafe; }
tr.alt_row:nth-child(even)		{ background-color:#fff; }
td.subject, td.level, td.teacher {
	border: solid 1pt #168ec1;
	text-align: left;
	padding: 2mm 3mm 2mm 3mm;
	font-size: 12pt;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-text {
	color:#ffffff;
	font-weight: bold;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.subheader {
	border: solid 1pt #168ec1;
	text-align: center;
	font-size: 11pt;
	background-color: #1AB5F6;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.subheader-text{
	color: #FFF;
	padding: 2mm 0mm 2mm 0mm;
}

td.setwidth-o {
	border: 0px;
	padding: 0;
	width: 88mm;
	height: 0px;
}
td.sweet-justice {
	width: 98mm;
	font-size: 9pt;
	vertical-align:top;
	line-height: 1.2;
}
td.sweet-justice p {
	margin: 1.4mm;
	text-indent:4mm;
}