-# coding: utf-8
!!!
%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}
		%title Login
		%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
	%link(type="text/css" rel="stylesheet" href="/css/login.css" )
	%body
		.container
			.flat-form
				#login.form-action.show
					%br
					%br
					%h1 RMA Reports
					%p
						If you don't have a login, please see the ICT Manager.
					%br
					%form{:action => "/login", :method => "POST"}
						%ul
							%li
								.usernames
									%select.usernames{:name => "login_form[teacher]"}
										%option{:value => "fail"} ** Select Your Username **
										- @teachers.each do |t|
											-if session[:teacher_id] == t.id
												%option{:value => t.id, :selected => 'selected'} #{t.name}
											-else
												%option{:value => t.id} #{t.name}
										-if session[:teacher_id] == "attendance"
											%option{:value => "attendance", :selected => 'selected'} Attendance
										-else
											%option{:value => "attendance"} Attendance
										-if session[:teacher_id] == "admin"
											%option{:value => "admin", :selected => 'selected'} Administrator
										-else
											%option{:value => "admin"} Administrator
								%p.reminder ⬆ make sure you select the correct username		
							%br
							%li
								%input{:placeholder => "Password", :type => "password", :name => "login_form[password]"}
								%p.reminder ⬆ make sure you got your password right
							%br
							%li
								%input.button{:type => "submit", :value => "Login", :title => "Login", :class => "button"}
