-# coding: utf-8
%h3 Subjects
%ul.students
	- @teachers.each do |t|
		= partial( :"/edits/teacher_partial", {:teacher => t } )


		What is the variable that is going to bring data to this page? Define the route....
