-# coding: utf-8
%h3 Sorry, there was an error.
%p Most likely, the teacher's comments you are trying to edit have not been entered yet. He or she must enter a comment for each student they teach prior to starting edits.
%p Please check with the teacher in question or notify Bill or John.