%form{:action => "/teachers/new", :method => "POST"}
	%input{:placeholder => "teacher name", :type => "text", :name => "teacher[name]"}
	%input.button{:type => "submit", :value => "New Teacher", :title => "New Teacher", :class => "button"}
%h2 Teachers
%ul.teachers
	%li{:class => "list_row"} NAME
	- @teachers.each do |t|
		= partial( :"teachers/teacher", {:teacher => t } )